* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.863);
}

p {
    color: white;
    font-weight: bold;
    font-family: "Lexend";
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profile-picture {
    float: right;
    border-radius: 50%;
    height: 300px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 25px;
}

.name {
    margin-bottom: -5px;
    font-size: 5rem;
    letter-spacing: 2px;
    color: white;
}

.description {
    font-size: 4rem;
    color: gray;
    margin-top: 0px;
    margin-bottom: 0px;
}

.location {
    font-size: 2rem;
}

.contact-me {
    background-color: rgb(139, 255, 31);
    font-family: "Lexend";
    font-weight: bold;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.863);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    transition: width .8s, height .8s, font-size .8s;
}

.contact-me:hover {
    width: 130px;
    height: 42px;
    font-size: 1.1rem;
    transition: width .8s, height .8s, font-size .8s;
}

.instagram-icon, .github-icon, .linkedin-icon {
    cursor: pointer;
}
